#app {
    position: relative;
}

.content {
    padding: 1rem;
}
.header-container {
    background: linear-gradient(to right, #FF8C00, #FF00FF);
    padding: 1rem;
}


/*
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    z-index: 100;
    padding: 10px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    overflow-y: auto;
}
 */